.navbar {
  margin-bottom: 0;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100%;
  .app-navbar {
    flex: 0;
  }

  .app-page {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }
}

.association-page {
  flex: 1;
  display:flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
  border: 0;

  .left {
    flex: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .side {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    background-color: #fff;
  }
}

.composition-page {
  flex: 1;
  display:flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
  border: 0;

  .left {
    flex: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .side {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #fff;
  }
}

.resourcecard {
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
  display: inline-block;
  img {
    height: 100%;
    width: 100%;
    background-color: #000;
  }

  label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 8px;
    padding-bottom: 1px;
    width: 100%;
    line-height: 15px;
    color: #fff;
  }

  button {
    position: absolute;
    top: 3;
    right: 3;
    width: 15px;
    height: 15px;
    color: #fff;
    border-width: 1px;
    border-color: #000;
  }
}

.addbutton {
  vertical-align: top;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
  border-width: 1px;
  border-color: #000;
}

.tvcard {
  width: 150px;
  height: 210px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
  display: inline-block;
  .content {
    text-align: center;
    height: 20%;
    width: 100%;
    margin: 0;
    padding: 0;
    &::before {
      content: "";
      display: inline-block;
      height:100%;
      vertical-align: middle;
    }
    p {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }
  .img-container {
    height:80%;
    width:100%;
    overflow: hidden;
  }
}

.sidebar {
  position: absolute;
  right:0;
  width: 200px;
  height:100%;
  background-color: #fff;
}

.composition-list {
  list-style-type: none;
  ul {
    padding-left: 0;
  }
}

.notificationpanel {
  position: fixed;
  top: 10;
  right: 10;
}

.notification {
  text-align: center;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
}

.appbar {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .bar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #aaeeee;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
  }
}

.card {
  background-color: #fff;
  box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}

.compositionpreview {
  height: 400px;
  width: 700px;
}

.modulelist {
  list-style: none;
  ul {
    padding-left: 0;
  }
}

.moduleconfig {
  height: 250px;
  background-color: #eee;
  margin-bottom: 20px;
}

.moduleitem, .compositionitem {
  height:50px;
  line-height: 50px;
  text-align: center;
  background-color: #ddd;
  div {
    vertical-align: middle;
    display: inline-block;
  }
}

.white-background {
  background-color:#fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #888888;
  user-select: none;
  height: 100%;
}

#reactContainer {
  height: 100vh;
  width: 100vw;
}

.overlaymenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.visible {
  visibility: visible !important;
}

.overlay-close-button {
  position: absolute;
  top: 5;
  right: 5;
  width: 20px;
  height: 20px;
  visibility: hidden;
  z-index: 1;
}

.resourcecreationmenu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;

  input {
    margin-bottom: 15px;
  }
}
